/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
/*     font-size:12px; */
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:127px;                   /* text area width */
    text-align:center;
    padding:40px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-66px 0px 0px -66px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.b-popcat-icon {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 100%;
    /*background-color: #a3b3c6;*/
    /*-webkit-border-radius: 6px;*/
    /*border-radius: 6px;*/
    /*-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
    /*box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
}

.b-popcat-title {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: center;
}

.b-popcat-table__item .b-link {
    padding: 11px;
    font-size: 13px;
    line-height: 14px;
    position: relative;
    display: block;
    width: 142px;
    height: 202px;
    margin: auto;
    text-decoration: none;
    word-wrap: break-word;
    color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}

.b-popcat-table__item_type_phone .b-popcat-icon:after {
    background-image: url(../img/phone.svg);
}
.b-popcat-table__item_type_tablet .b-popcat-icon:after {
    background-image: url(../img/pad.svg);
}
.b-popcat-table__item_type_notebook .b-popcat-icon:after {
    background-image: url(../img/notebook.svg);
}
.b-popcat-table__item_type_tv .b-popcat-icon:after {
    background-image: url(../img/computer.svg);
}
.b-popcat-table__item_type_camera .b-popcat-icon:after {
    background-image: url(../img/photo.svg);
}
.b-popcat-table__item_type_clothes .b-popcat-icon:after {
    background-image: url(../img/clothing.svg);
}
.b-popcat-table__item_type_android .b-popcat-icon:after {
    background-image: url(../img/android.svg);
}
.b-popcat-table__item_type_ios .b-popcat-icon:after {
    background-image: url(../img/apple.svg);
}
.b-popcat-table__item_type_windows .b-popcat-icon:after {
    background-image: url(../img/windows.svg);
}
.b-popcat-table__item_type_blackberry .b-popcat-icon:after {
    background-image: url(../img/blackberry.svg);
}
.b-popcat-icon:after {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    content: "";
    background: 50% 50% no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: contain;
}

#swipe-region{
    position: absolute;
    left: 0;

    top: 3em;
    bottom: 0;
    width: 10%;
}
#main_menu .ui-header .ui-icon-search{
    right: 40px;
}

.ui-panel{
    position: fixed;
    top: 44px;
}

.ui-panel .ui-panel-inner{
    padding: 0;
}

.ui-panel .ui-panel-inner .ui-btn{
    text-align: left;
    margin: 0;
    margin-bottom: -1px;
    border-left: none;
    border-right: none;
}
.b-popcat-table__inner {
    width: 100%;
    border-color: #EEE;
}

.b-popcat-table {
    width: 100%;
    border-color: #EEE;
}

#main_menu {
    width:100%;
}

.ui-content{
   position: absolute;
   top: 44px;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0px;
}

.b-serp-item .b-icon {
    background: no-repeat 50%;
    -webkit-background-size: 100% 100%;
    background-size: contain;
}

.b-serp-item {
    position: relative;
    border-top: 1px solid #d6d6d6;
}
.b-serp-item .b-link {
    display: block;
    padding: 5px 5px 5px 90px;
}

.b-link {
    text-decoration: none;
    color: #0670c1;
}

.b-serp-item .b-icon, .b-serp-item .b-nophoto {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 80px;
}
.b-link>.b-icon {
    margin: 0;
}
.b-link>.b-icon {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.b-icon {
    display: inline-block;
    border: 0;
}
.b-serp-description {
    position: relative;
}
.b-serp-description__title {
    font-size: 16px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.b-serp-description__text_limit_yes {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.b-serp-description__text {
    color: #666;
    font-size: 14px;
    margin-top: 2px;
}

.b-popcat-table__item.activated {
    background-color: #CCC;
}


.cats-item{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 50%;
/*     margin-right: -1px;  */
    box-sizing: border-box;
    margin-top: -3px;
}
.cats-item.check {
    background-color: #CCC;
}

.cats-item span{
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: center;   
    color: rgb(0, 0, 0);
    cursor: auto;
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}

.icon{
    position: relative;
    display: block;
    width: 80%;
    margin-bottom: 5px;
    padding-bottom: 100%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    content: "";
    background: 50% 50% no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: contain;
}


.icon-phone {
    background-image: url(../img/phone.svg);
}

.icon-tablet{
    background-image: url(../img/pad.svg);
}
.icon-notebook{
    background-image: url(../img/notebook.svg);
}
.icon-tv{
    background-image: url(../img/computer.svg);
}
.icon-camera{
    background-image: url(../img/photo.svg);
}
.icon-clothes{
    background-image: url(../img/clothing.svg);
}
.icon-android {
    background-image: url(../img/android.svg);
}
.icon-ios {
    background-image: url(../img/apple.svg);
}
.icon-windows {
    background-image: url(../img/windows.svg);
}
.icon-blackberry{
    background-image: url(../img/blackberry.svg);
}

